# python 3.7.4
Package       Version 
------------- --------
img2pdf       0.4.1   
lxml          4.6.3   
numpy         1.21.2  
opencv-python 4.4.0.46
pikepdf       3.1.0   
Pillow        6.2.2   
pip           19.0.3  
pyocr         0.8     
PyPDF2        1.26.0  
pytesseract   0.3.8   
setuptools    40.8.0  
Wand          0.6.6   
xlrd          1.2.0   
